.match-list-container {
    padding: 30px;
}

.match-list {
    color: #ced7e0;
    border-collapse: collapse;
    width: 100%;
}

.match-list td {
    padding: 10px;
    text-align: center;
    background: #201e25;
}

.match-list th {
    background: #25222c;
    padding: 10px;
}

.match-list .row {
    border: 1px solid #2f2b38;
}

.match-list .end {
    text-align: end;
    width: 5%;
}

.match-list .start {
    text-align: start;
}

.match-list button {
    font-size: 14px;
    color: #ced7e0;
    background-color: #f84982;
}