.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: #201e25;
    border-right: 1px solid #2f2b38;
}

.side-bar-list {
    list-style: none;
    padding: 0;
    font-weight: 500;
}

.side-bar-list-item {
    padding: 10px;
    cursor: pointer;
}

.side-bar-list-item:hover {
    background-color: #2a2732;
}

.logo-container {
    border-bottom: 1px solid #2f2b38;
    padding: 15px;
    height: 40px;
}

.logo {
    height: 40px;
}

.side-bar-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

.side-bar-icon {
    cursor: pointer;
}

.main {
    flex-grow: 1;
    overflow-y: auto
}

.header {
    height: 70px;
    width: 100%;
    background-color: #201e25;
    border-bottom: 1px solid #2f2b38;
}

.match-list-container {
    padding: 30px;
}

.match-list {
    color: #ced7e0;
    border-collapse: collapse;
    width: 100%;
}

.match-list td {
    padding: 10px;
    text-align: center;
    background: #201e25;
}

.match-list th {
    background: #25222c;
    padding: 10px;
}

.match-list .row {
    border: 1px solid #2f2b38;
}

.match-list .end {
    text-align: end;
    width: 5%;
}

.match-list .start {
    text-align: start;
}

.match-list button {
    font-size: 14px;
    color: #ced7e0;
    background-color: #f84982;
}