.score-header {
    display: grid;
    padding: 20px;
    grid-gap: 0.75rem;
    background-image: url(../../assets/images/cs2banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.match-result {
    background-color: #19171e;
    line-height: 1;
    font-weight: 600;
    width: max-content;
    padding: 15px;
    border-radius: 3px;
    font-size: 50px;
}

.match-info-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.match-info {
    background-color: #19171e;
    line-height: 1;
    font-weight: 600;
    width: max-content;
    padding: 15px;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
}

.score-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.scoreboard {
    width: 100%;
    border-spacing: 2px;
}

.scoreboard th,
.scoreboard td {
    text-align: start;
    padding: 10px;
    background: #25222c;
    border-radius: 3px;
    max-width: 100px;
    overflow: hidden;
}

.avatar-column {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    height: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.game-log-container {
    margin-bottom: 20px;
}

.game-log {
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: #25222c;
    margin-top: 10px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #2f2b38;
}

.game-data {

}

.radar {
    position: relative;
    height: 512px;
    width: 512px;
    background-image: url(../../assets/maps/de_dust2_radar_psd.png);
    background-size: cover;
}

.position {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.time-line {
    text-align: center;
    background-color: black;
    height: 10%;
}

.slider-container {
    height: 100%;
}

.slider {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgb(27, 27, 27);
    opacity: 0.7;
    overflow: hidden;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 160px;
    background-color: #f84982;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.chat-log-container {
    display: flex;
    width: 30%;
    flex-direction: column;
    height: 400px;
}

.chat-log {
    height: 100%;
    background-color: rgb(27, 27, 27);
    font-family: Inconsolata;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin-top: 10px;
    border: 0px;
    border-radius: 3px;
    resize: none;
    border: 1px solid #2f2b38;
}
